:root {
  --color-primary: #F3EFE0;
  --color-secondary: #6E4555;
  --color-tertiary: #9A9599;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Futura", sans-serif;
  background: var(--color-primary);
  display: flex;
  height: 100vh;
  letter-spacing: 0.25px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: none;
}

a:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}

h2 {
  color: var(--color-secondary);
  letter-spacing: -0.75px;
  font-size: 1.5em;
  line-height: 1.5em;
}

main {
  width: 480px;
  margin: auto;
  padding: 1em 2em;
  text-align: justify;
  line-height: 1.5;
}

p {
  color: var(--color-tertiary);
}
