body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", sans-serif;
}

.wrapper {
	margin: 1em;
}

code {
	font-size: 16px;
}

.buy {
	background: #295D68;
	padding: 1em;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	
	width: inherit;
	color: #fff;
	padding-top: 0.50em;
	padding-bottom: 0.50em;
}

a {
	color: #fff;
}

.restore {
	color: blue;
}

